body{
	background-color: rgb(132, 140, 218);
	transform: scale(0.80);
}

.topright{
	position: absolute;
	top:0;
	right:0;
}

.butan{
	margin-left: 100px;
	float : right;
}

.text{
	float : left;
}


.wrapper{
	position: relative;
	width : 960px;
	margin: 0 auto;
}

.vid{
	clear: both;
	margin-left: 25%;

}

.buten{
	float: right;
}

button{
	background-color: green;
	border-color: black;
}

h1{
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(53, 5, 23);
}